<p id="notice"><%= notice %></p>

<h5>
  <b>Prueba:</b> <%= link_to @exam.name, @exam %> 
</h5>
<p><%= link_to 'Edit', edit_exam_path(@exam) %> | <%= link_to 'Back', exams_path %></p>
<br/>
<h5>Nueva Preguntas</h5>

<%= render 'form', question: @question %>