<p id="notice"><%= notice %></p>

<h3 class="p-3 shadow"><i class="fa fa-file-alt" aria-hidden="true"></i> <%= link_to @question.exam.name, @question.exam %></h3>

<h3 class="p-3 shadow"><%= @question.content %></h3>
<br/>

<div class="p-3 shadow">
  <%= link_to 'Nueva Opción', new_exam_question_option_path(@question.exam, @question), :class => "float-right btn btn-primary mb-2" %>
  <h3>Opciones</h3>

  <table class="table table-bordered">
    <thead class="bg-dark text-white">
      <tr>
        <th>Posición</th>
        <th>Opción</th>
        <th>Es Correcta?</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @options.each do |option| %>
        <tr>
          <td><%= option.position %></td>
          <td><%= option.content %></td>
          <td><%= option.is_correct ? "Si" : "No" %></td>
          <td class="text-right">
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_exam_question_option_path(@question.exam, @question, option) %> 
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, exam_question_option_path(@question.exam, @question, option), :class=>"text-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
