<p id="notice"><%= notice %></p>


<div class="shadow p-3">
  <%= link_to 'Nuevo Exámen', new_exam_path, :class => "float-right btn btn-primary mb-2" %>
  <h3>Examenes</h3>
</div>
<br/>

<div class="shadow p-3">
<table class="table table-bordered">
  <thead class="bg-dark text-white">
    <tr>
      <th>Nombre</th>
      <th>Preguntas</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.name %></td>
        <td><%= exam.questions.count %></td>
        <td class="text-right">
          <%= link_to 'Ver Detalle', exam %>
          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_exam_path(exam) %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe, exam, :class=>"text-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>