<h5>
  <b>Resultados Prueba:</b> <%= @exam.name %> 
</h5>
<br/>

    <ol>
    <% @exam.questions.order("position").each do |question| %>
        <li class="mb-5">
            <h5><%= question.content %></h5>
            <div>
                <% question.options.order("position").each do |option| %>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options_question[<%= option.id %>]" id="option_<%= option.id %>" <%= current_user.answer_checked(@exam.id, option.id) ? "checked" : "ss" %> value="true">
                        <label class="form-check-label" for="option_<%= option.id %>">
                            <% if option.is_correct %>
                                <img class="success_answer_icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/1200px-Check_green_icon.svg.png" />
                            <% end %>
                            <%= option.content %>
                        </label>
                    </div>
                <% end %>
            </div>
        </li>
    <% end %>
    </ol>

<%= link_to 'Volver', root_path, :class => "float-left btn btn-secondary" %>